replicaCount: 1
image:
  repository: k8s-harbor-harborin-04b31170bb-1679859835.us-east-1.elb.amazonaws.com/phoenix-project/phoenix-search-service
  tag: "5a960badd374e01bced430311978d97f155104f2"
service:
  port: 7105
serviceAccount:
  name: search-service-sa
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
env:
  - name: MONGODB_CONNECTION_STRING
    value: "mongodb://mongodb:27017/hotel-booking"
  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: http://otel-collector.observability:4317
  - name: OTEL_SERVICE_NAME
    value: search-service
  - name: OTEL_RESOURCE_ATTRIBUTES
    value: service.namespace=phoenix-app,service.name=search-service,deployment.environment=prod
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

podDisruptionBudget:
  enabled: false
  minAvailable: 1
