apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking-service
  labels:
    app: booking-service
    version: {{ .Values.image.tag | default "latest" | quote }}
    environment: {{ .Values.global.environment | default "production" | quote }}
    app.kubernetes.io/name: booking-service
    app.kubernetes.io/part-of: hotel-reservation
    app.kubernetes.io/version: {{ .Values.image.tag | default "latest" | quote }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: booking-service
  template:
    metadata:
      labels:
        app: booking-service
        version: {{ .Values.image.tag | default "latest" | quote }}
        environment: {{ .Values.global.environment | default "production" | quote }}
        app.kubernetes.io/name: booking-service
        app.kubernetes.io/part-of: hotel-reservation
        app.kubernetes.io/version: {{ .Values.image.tag | default "latest" | quote }}
      annotations:
        sidecar.istio.io/inject: "true"
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.service.port }}"
        prometheus.io/path: "/metrics"
        fluentbit.io/parser: json
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
        runAsNonRoot: true
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      containers:
        - name: booking-service
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          envFrom:
            - configMapRef:
                name: asgardeo-config
          env:
            {{- toYaml .Values.env | nindent 12 }}
