replicaCount: 1
image:
  repository: k8s-harbor-harborin-04b31170bb-1679859835.us-east-1.elb.amazonaws.com/phoenix-project/phoenix-frontend-service
  tag: "5c0c469477dd00897e0b19c4816eabe304c63634"
service:
  type: NodePort
  port: 4173
  nodePort: 30001
serviceAccount:
  name: frontend-sa

imagePullSecrets:
  - name: harbor-creds

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

podDisruptionBudget:
  enabled: false
  minAvailable: 1
