apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: search-service-policy
spec:
  selector:
    matchLabels:
      app: search-service
  action: ALLOW
  rules:
  - from:
    - source:
        principals: ["*"]
