# platform/registry/harbor-values.yaml
portal:
  service:
    type: ClusterIP

harborAdminPassword: "Harbor@12345"
secretKey: "HarborSecretKey1"

internalTLS:
  enabled: false
  certSource: none

core:
  secret: "HarborCoreSecret123456"
  xsrfKey: "HarborXsrfKey12345678901234567890"
  service:
    type: ClusterIP

jobservice:
  secret: "HarborJobSecret1"
  strategy:
    type: Recreate


registry:
  secret: "HarborRegSecret1"
  strategy:
    type: Recreate


persistence:
  enabled: true
  imageChartStorage:
    storageClass: "gp2"  # Changed to match existing PVCs
    size: 5Gi

database:
  internal:
    persistence:
      storageClass: "gp2"  # Changed to match existing PVCs
      size: 2Gi

redis:
  enabled: true
