{{- range $key, $svc := .Values.services }}
{{- if or (not (hasKey $svc "enabled")) $svc.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $svc.name }}
  namespace: {{ $.Values.global.namespace }}
  labels:
    app: {{ $svc.name }}
    app.kubernetes.io/name: {{ $svc.name }}
    app.kubernetes.io/part-of: {{ $.Values.global.partOf }}
---
{{- end }}
{{- end }}
