apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: rabbitmq-monitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: rabbitmq
  endpoints:
    - port: management
      path: /metrics
      interval: 15s

