clusterName: opensearch-cluster

replicas: 1 # Reduce to 1 replica for dev environment

persistence:
  enabled: true
  storageClass: "gp2" # AWS EBS storage class
  size: 10Gi 
  
resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 1000m
    memory: 2Gi

opensearchJavaOpts: "-Xms1g -Xmx1g"

sysctlInitContainer:
  enabled: true

extraEnvs:
  - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: opensearch-admin-secret # Name of the K8s Secret created by ESO
        key: password                   # Key where ESO stores the password (as per ESO config)



